.App {
  display: grid;
  /* place-self: center stretch; */
  /* height: 100vh; */
  align-items: start;
  justify-items: center;
}
.square {
  display: flex;
  width: 60px ;
  height: 60px;
  background-color: white;
  border: 1px solid black;
  place-self: center;
}
.text {
  display: grid;
  place-items: center;
  place-self: center;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
}
.tiles {
  display: grid;
  place-items: center;
  gap: 5px;
}
.row {
  display: flex; 
  flex-flow: row nowrap;
  gap: 5px;
}
#VirtualKey {
  display: grid;
  place-items: end center;
  align-content: end;  
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}
input {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.key {
  width: 45px;
  height: 60px;
  border-radius: 10px;
  border-style: hidden;
}
.big-key {
  width: 80px;
  height: 60px;
  border-radius: 10px;
  border-style: hidden;
}

.correct {
  background-color: green;
  color: white;
  border-style: hidden;
}
.slightlyLarger {
  height: 62px;
  width:62px;
}
.mixed {
  background-color: rgb(211, 197, 93);
  color: white;
  border-style: hidden;
}

.incorrect {
  background-color: grey;
  color: white;
  border-style: hidden;
}
.TitleBar {
  border-bottom: 1px solid black;
  display:flex;
  flex-flow: row;
  gap: 10px;
  justify-content: space-between;
}
.Nav {
  display: grid;
  gap: 10px;
  align-content: center;
  margin-left: 10px;
}
.SignIn {
  display: grid;
  gap: 10px;
  align-content: center;
  margin-right: 10px;
}

.game {
  display: grid;
  align-content: space-between;
}